.wd-who-icon {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.wd-who-font-weight-bold {
    font-weight: bold;
    font-size: 16px;
    z-index: 1100;
}

.wd-who-sub-container {
    align-items: center;
    display: flex;
}

.wd-who-button {
    width: 80px;
    height: 36px;
    border-radius: 16px;
    border-width: 0px;
    background-color: #18a0d3;
    color: white;
}

.wd-who-button:hover {
    background-color: #1788b3;
}


.wd-who-title-text {
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    display: flex;
}

.wd-who-list-group-item {
    background-color: #222222 !important;
    color: white !important;
}

.wd-who-great-container {
    border-radius: 4px;
}