body {
    background-color: black !important;
}

.wd-exp-active-tab {
    background-color: #18a0d3 !important;
}

.wd-exp-inactive-tab {
    color: white !important;
}

.wd-exp-search-and-navigation-bar-box {
    border-width: 1px 1px 3px 1px;
    border-color: #d6dbe0;
    width: 100%;
}

.wd-exp-search-bar {
    display: flex;
    align-items: center;
}

.wd-exp-search-box {
    border-radius: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    border-color: #d6dbe0;
    border-width: 1px;
    border-style: solid;
    background-color: white !important;
}

.wd-exp-search-input {
    color: #4b5157;
    height: 80%;
    width: 85%;
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 16px;
    font-weight: 600;
}


.wd-exp-search-icon {
    width: 24px;
    height: 24px;
    margin-inline: 16px;
}

.wd-exp-tabs-container {
    margin-bottom: 8px;
}

.wd-exp-tabs-sub-container {
    border-color: #282828 !important;
    border-width: 2px !important;
}

.wd-exp-large-picture-container {
    position: relative;
}

.wd-exp-large-picture-title {
    color: #222222;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.wd-exp-sub-container-b2 {
    border-radius: 12px;
    border-width: 1px;
    border-color: #dfdfdf;
    border-style: solid;
    overflow: hidden;
    width: 504px;
    margin-top: 12px;
}
