.wd-nav-left-panel-container {
    display: flex;
    height: 24px;
}


.wd-nav-left-panel-icon {
    height: 16px;
    width: 16px;
    margin-right: 12px;
}

.wd-nav-link-text {
    text-decoration: none !important;
    color: black;
}

.wd-nav-link-text-active {
    text-decoration: none !important;
    color: white !important;
}

.wd-nav-gray-background {
}

.wd-nav-gray-background :hover {
    background-color: #0073f7 !important;
    color: white !important;
}

.wd-nav-active-button-background {
    /*background-color: #18a0d3 !important;*/
    color: white !important;
    border-width: 0px !important;
}

.wd-nav-tweet-button {
    background-color: #18a0d3 !important;
}

.wd-nav-tweet-button:hover {
    background-color: #1788b3 !important;
}