
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.wd-container {
    max-width: 550px;
}


.wd-left-panel-container {
    display: flex;
    height: 24px;
}

.wd-left-panel-icon {
    /*height: 16px;*/
    /*width: 16px;*/
    margin-right: 12px;
}

.wd-right-container-icon {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.wd-middle-panel-container {
    border-width: 0px 1px 0px 1px;
    border-color: #f5f8f8;
    border-style: solid;
}

.wd-font-weight-bold {
    font-weight: bold;
    font-size: 16px;
    z-index: 1100;
}

.wd-who-to-follow-sub-container {
    align-items: center;
    display: flex;
}

.wd-right-container-follow-button {
    width: 80px;
    height: 36px;
    border-radius: 16px;
    background-color: #0c6dfd;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    z-index: 1000;
}

.wd-tweet-button {
    background-color: #0c6dfd;
    color: white;
    border-width: 0;
    width: 100%;
    height: 36px;
    border-radius: 16px;
}


.wd-search-and-navigation-bar-box {
    border-width: 1px 1px 3px 1px;
    border-color: #d6dbe0;
    width: 100%;
}

.wd-search-bar {
    display: flex;
    align-items: center;
}

.wd-search-box {
    border-radius: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #eff3f4;
}

.wd-search-input {
    color: #4b5157;
    height: 80%;
    width: 85%;
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #eff3f4;
}


.wd-search-icon {
    width: 24px;
    height: 24px;
    margin-inline: 16px;
}


.wd-background {
    margin: 16px;
    min-width: 540px;
}

.wd-sub-box-b {
    border: 5px;
    margin: 8px 0px;
    font-size: 15px;
    color: rgb(110, 118, 125);
    flex: 1;
    text-align: center;
    justify-items: center;
}


.wd-tabs-container {
    border-width: 0 0px 1px 0px;
    border-color: #e8eaed;
}

.wd-large-picture-container {
    position: relative;
}

.wd-large-picture-title {
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 16px;
    bottom: 16px;
}

.wd-dark-text {
    color: rgb(110, 118, 125);
    font-size: 16px;
}

.wd-dark-text-bolder {
    color: rgb(110, 118, 125);
    font-size: 16px;
    font-weight: 600;
}

.wd-link-text {
    color: #0eb5f0;
    font-weight: 500;
}


.wd-black-text {
    color: black;
    font-size: 16px;
    font-weight: bolder;
}


.wd-small-image {
    width: 100px;
    height: 100px;
    border-radius: 16px;
}

.wd-flex-box-image {
    border-radius: 12px;
}

.wd-suggestion-box-d {
    width: 100%;
    display: flex;
    position: relative;
}

.wd-suggestion-container {
    border-width: 1px 0px 0px 0px;
    border-color: #f5f8f8;
    border-style: solid;
}

.wd-text-box {
    flex: 1;
}

.wd-flex-container {
    display: flex;
    justify-content: space-around;
}

.wd-flex-box {
    color: rgb(110, 118, 125);
    font-weight: 600;
    font-size: 15px;
    padding-top: 12px;
    height: 100%;
    text-align: center;
}

.wd-flex-box-selected {
    /*color: rgb(29, 161, 242);*/
    border-bottom: 4px solid rgb(29, 161, 242);
    padding-bottom: 8px;

}

.wd-flex-text-selected {
    font-weight: 700;
    font-size: 15px;
    color: #0f151a;
}

.wd-large-picture-title-small-text {
    font-size: 16px;
    font-weight: 400;
}