
.wd-edit-profile-banner-container {
    width: 100%;
    aspect-ratio: 3;
    overflow: clip;
    height: 100%;
    background-color: #4b5157;
    position: relative;
    overflow: clip;
    opacity: 0.75;
}

.wd-edit-profile-avatar-bar {
    width: 100%;
    position: relative;
}


.wd-edit-profile-avatar {
    border-radius: 100px;
    width: 25%;
    aspect-ratio: 1;
    margin-top: -12%;
    margin-left: 2%;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    background-color: #b2b1b1;
    position: relative;
    opacity: 0.75;
}


.wd-edit-profile-top-bar {
    border-width: 1px;
    border-style: solid;
    border-color: #f7f9fa;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    position: relative;
}

.wd-edit-profile-arrow {
    padding: 8px 32px 8px 20px;
}

.wd-edit-profile-arrow-href {
    color: black;
}

.wd-edit-profile-large-username {
    font-size: 18px;
    font-weight: 700;
}

.wd-edit-profile-input-container {
    padding-bottom: 20px;
}

.wd-edit-profile-input-filedset {
    border: 1px solid #dce3e7;
    border-radius: 4px;
    /*padding: 8px;*/
    position: relative;
}

.wd-edit-profile-input-title {
    font-size: 14px;
    color: #6e7d87;
    margin-left: 2px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.wd-edit-profile-input-textarea {
    border-width: 0px;
    width: 100%;
    resize: none;
    overflow: auto;
    padding-top: 28px;
    padding-left: 10px;
}

.wd-edit-profile-website-input {
    color: #000;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.wd-edit-profile-save-button {
    background-color: black;
    color: white;
    border-radius: 16px;
    font-size: 12px;
    padding: 4px 12px;
    position: absolute;
    right: 12px;
    font-weight: 600;
    border-style: solid;
}

.wd-edit-profile-dateofbirth {
    font-weight: 500;
}

.wd-edit-profile-professional {
    font-weight: 500;
    font-size: 16px;
}

.wd-edit-profile-birthdate-text {
    font-size: 14px;
}

.wd-edit-profile-href-without-underline {
    text-decoration: none;
}

.wd-edit-profile-href-without-underline-and-black {
    text-decoration: none;
    color: black;
}

.wd-edit-profile-centered-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wd-edit-profile-icon-container {
    width: 36px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    opacity: 0.5;
    border-radius: 200px;
    color: white;
}
